<%- include('../partials/head.ejs') %>
 <title>Home</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/product.css" />
    <link rel="stylesheet" href="/css/cart.css" />
  </head>

<body>
   <%- include('../partials/nav.ejs') %>
    <main class="container">
    <%let a=0;%>
 <% if(products.length === 0){ %>

    <h1>YOUR CART IS EMPTY.... </h1>
     <% } else{ %>
  
      
       <div class="card">
            <div class="row">
                <div class="col-md-8 cart">
                    <div class="title">
                        <div class="row">
                            <div class="col"><h4><b>Shopping Cart</b></h4></div>
                            <div class="col "><%= products.length %> items</div>
                        </div>
        </div>  
                     

 <% products.forEach(function(product){  %>
 <%a=a+(product.price*product.qty);%>
<div class="productcontainer">
     <div class="containerRow ">
         <div class="subdiv"><img class="productImage" src="<%= product.image %>"></div>
                <div class="subdiv">
                    <p class="product_name"><%= product.title %></p>
                </div>
                <div class="subdiv">
              <form class="qform" method="POST" action="/update-cart">
              <input type="hidden" name="productID" value="<%= product.id %>">
              <input type="hidden" name="isAdd" value="0">
              
              <button class="updateBtns" type="submit">-</button>
             </form>
                    <p class="quantity"> <span> <%= product.qty %></span></p>
   <form class="qform" method="POST" action="/update-cart">
              <input type="hidden" name="productID" value="<%= product.id %>">
              <input type="hidden" name="isAdd" value="1">
 <button class="updateBtns" type="submit"> + </button>
</form>
                </div>
                <div class="subdiv"><p class="price"><span>$</span><span class="price_no"><%= product.price*product.qty %> </span></p>
        </div>
     </div>
</div>
 <% }) %>
          <% } %>



              
        <% if(products.length === 0){ %>

    
     <% } else{ %>         

                  
 <div class="back-to-shop"><a href="/">&leftarrow;<span class="text-muted">Back to shop</span></a></div>
                </div>
                <div class="col-md-4 summary">
                    <div><h5><b>Summary</b></h5></div>
                     <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                        <div class="col">TOTAL PRICE</div>
                        <div class="col text-right"><span class="total"><%=parseInt(a)%></span> </div>
                    </div>
                    <button class="btn">CHECKOUT</button>
                </div>
            </div>
             </div>
              <% } %>
</main>

<%- include('../partials/end.ejs') %>