<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/product.css" />
  </head>

  <body>
    <%- include('../partials/nav.ejs') %>

    <main>
      <form class="product-form" action="/admin/edit-product" method="POST">
        <div class="form-control">
          <label for="title">Title</label>
          <input type="text" name="title" id="title" value="<%= isEditable ? productData.title :'' %>"/>
        </div>

        <div class="form-control">
          <label for="price">Price</label>
          <input type="number" name="price" id="price" step="0.01" value="<%= isEditable ? productData.price :'' %>"/>
        </div>

        <div class="form-control">
          <label for="image">Image</label>
          <input type="text" name="image" id="image" value="<%= isEditable ? productData.image :'' %>"/>
        </div>
        <div class="form-control">
          <label for="image">Description</label>
          <textarea name="description" id="description"><%= isEditable ? productData.description :'' %></textarea>
        </div>
        
        <% if(isEditable){ %>
        <input type="hidden" name="productId" value="<%= productData.id %>" />
        <% } %>
        <button class="btn" type="submit"> <%= isEditable ? 'Edit Product' :'Add Product' %></button>
      </form>
    </main>
 <%- include('../partials/end.ejs') %>
